/*
    >npm install bootstrap-sass --save-dev
    // In this main file, we can import the parts that we want to use from bootstrap.
    // For simplicity, bootstrap and theme (animations reponsible).
    // We create our own variables (copy _variables.scss) files, and there, we will override
    // all the values that we are interested on.
*/

@import "_variables.scss";

@import "./../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_theme.scss";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

// TODO: Move this to its own file.
body {
    padding-top: 90px;
}

.nounderline{
  text-decoration: none !important;
}
.navbar {
    min-height: 80px !important;
  }
